.nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}

.nav-active {
  color: #FF7F50 !important;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}

.nav-active-mobile {
  color: #FF7F50 !important;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}
